body {
	margin: 0;
	padding: 0;
}

.header-container {
	width: 75%;
	margin: auto;
}

a {
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 1% 0;
}

.options {
	display: flex;
	list-style-type: none;
	margin: auto 0 0 0;
}

.options li:not(:last-child) a {
	border-right: 1px solid #d3d3d3;
}

.options li a {
	padding: 0 1rem;
	color: #a8a8a8;
	font-size: 90%;
}

.options li a:hover {
	text-decoration: underline;
}

.options li a img {
	margin-right: 2px;
}

.options li a span {
	color: #3a3b57;
}

.nav-container-outer {
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	padding: 2px 0;
}

.nav-container-inner {
	background: #d9d9d9;
}

nav {
	width: 75%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navlinks {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
}

.navlinks li {
	border-right: 1px solid #fff;
	padding: 0.5em 0;
}

.navlinks li a {
	color: #000;
}

.navlinks li:first-child a {
	padding: 0.5em 1.25em 0.5em 0.5em;
}

.navlinks li:not(:first-child) a {
	padding: 0.5em 1.25em;
}

.search-container {
	padding-right: 1em;
}

.search-container form button {
	border-radius: 5px;
	border: 1px solid #000;
	cursor: pointer;
}
